In [2]:
#pip install pandas

In [3]:
import pandas as pds
import numpy as np

In [5]:
pds.__version__

'2.0.3'

In [9]:
a1=pds.Series(["G.M",20,"O+"])

In [10]:
a1

0    G.M
1     20
2     O+
dtype: object

In [11]:
season={"Winter":{1:"Nov",2:"Dec",3:"Jan",4:"Feb"},
       "dry":{1:"Mar",2:"Apr",3:"May",4:"Jun"}}

In [14]:
d=pds.DataFrame(season,columns=["Winter","dry"])

In [15]:
d

  Winter  dry
1    Nov  Mar
2    Dec  Apr
3    Jan  May
4    Feb  Jun